################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/modules/KSComm/.vs
/solution/.vs
/tmp
/run_D
/run
/modules/KSComm/ClientApp/ClientApp.csproj.user
